[submodule "components/tinyusb/tinyusb"]
	path = components/tinyusb/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "components/bootloader/subproject/components/micro-ecc/micro-ecc"]
	path = components/bootloader/subproject/components/micro-ecc/micro-ecc
	url = https://github.com/kmackay/micro-ecc.git
