[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "lib/uf2"]
	path = lib/uf2
	url = https://github.com/microsoft/uf2.git
[submodule "lib/sct_neopixel"]
	path = lib/sct_neopixel
	url = https://github.com/gsteiert/sct_neopixel
