[submodule "lib/st/cmsis_device_f4"]
	path = lib/st/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "lib/st/stm32f4xx_hal_driver"]
	path = lib/st/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "lib/CMSIS_5"]
	path = lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
