CONFIG_IDF_CMAKE=y
CONFIG_IDF_TARGET="esp32s2"
CONFIG_IDF_TARGET_ESP32S2=y
CONFIG_FREERTOS_WATCHPOINT_END_OF_STACK=y
CONFIG_FREERTOS_SUPPORT_STATIC_ALLOCATION=y

# Partition Table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y

# Serial flasher config
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# TODO currently uf2 usb only enumerated with 921600 but failed with 115200
# There is probably a race condition somewhere
CONFIG_ESP_CONSOLE_UART_BAUDRATE=921600
CONFIG_MONITOR_BAUD_921600B=y
